aiohttp==3.8.3
aiosignal==1.3.1
altgraph==0.17.3
appdirs==1.4.4
async-timeout==4.0.2
attrs==22.1.0
auto-py-to-exe==2.24.1
beartype==0.11.0
beautifulsoup4==4.11.1
black==22.10.0
bottle==0.12.23
bottle-websocket==0.2.9
bs4==0.0.1
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.6
cssselect==1.2.0
Eel==0.14.0
fake-useragent==1.0.1
fire==0.4.0
flet==0.2.0.dev859
fonttools==4.38.0
frozenlist==1.3.3
future==0.18.2
gevent==22.10.2
gevent-websocket==0.10.1
greenlet==2.0.1
idna==3.4
importlib-metadata==5.0.0
importlib-resources==5.10.0
iso8601==1.1.0
lxml==4.9.1
m3u8==3.3.0
multidict==6.0.2
mypy-extensions==0.4.3
numpy==1.23.5
oauthlib==3.2.2
opencv-python==4.6.0.66
parse==1.19.0
pathspec==0.10.2
pdf2docx==0.5.6
pefile==2022.5.30
Pillow==9.3.0
platformdirs==2.5.4
pycparser==2.21
pycryptodome==3.16.0
pyee==8.2.2
pyinstaller==5.6.2
pyinstaller-hooks-contrib==2022.13
PyMuPDF==1.21.0
pyparsing==3.0.9
pyppeteer==1.0.2
pyquery==1.4.3
python-docx==0.8.11
pywin32-ctypes==0.2.0
repath==0.9.0
requests==2.28.1
requests-html==0.10.0
six==1.16.0
soupsieve==2.3.2.post1
termcolor==2.1.1
tomli==2.0.1
tqdm==4.64.1
typing_extensions==4.4.0
urllib3==1.26.12
w3lib==2.0.1
watchdog==2.1.9
websocket-client==1.4.2
websockets==10.4
whichcraft==0.6.1
yarl==1.8.1
zipp==3.10.0
zope.event==4.5.0
zope.interface==5.5.2
requests_html==0.10.0
pdf2docx==0.5.6
