aiohttp
aiosignal
altgraph
appdirs
async-timeout
attrs
auto-py-to-exe
beartype
beautifulsoup4
black
bottle
bottle-websocket
bs4
certifi
cffi
charset-normalizer
click
colorama
cssselect
Eel
fake-useragent
flet
frozenlist
future
gevent
gevent-websocket
greenlet
idna
importlib-metadata
lxml
multidict
mypy-extensions
numpy
oauthlib
opencv-python
parse
pathspec
pefile
Pillow
platformdirs
pycparser
pyee
pyinstaller
pyinstaller-hooks-contrib
pyparsing
pyppeteer
pyquery
pywin32-ctypes
repath
requests
requests-html
six
tomli
tqdm
typing_extensions
urllib3
w3lib
watchdog
websocket-client
websockets
whichcraft
yarl
zipp
zope.event
zope.interface
